<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>407064862587-cnfag9mqdejdq2nart62ujs2r4k9mqcm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.407064862587-cnfag9mqdejdq2nart62ujs2r4k9mqcm</string>
	<key>API_KEY</key>
	<string>AIzaSyBNBG0IIp4GcQj8qyRc3GIt2Hr702qQsZ8</string>
	<key>GCM_SENDER_ID</key>
	<string>407064862587</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flastApp</string>
	<key>PROJECT_ID</key>
	<string>flast-1bdbe</string>
	<key>STORAGE_BUCKET</key>
	<string>flast-1bdbe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:407064862587:ios:38d269ce45f71ffcf427de</string>
</dict>
</plist>